.unlockable {
    display: none;
}

    .unlockable.storyToggle {
        display: none;
    }

body {
    padding-top: 75px;
    padding-bottom: 20px;
    background-color: white;
}


    body.night {
        background-color: black;
    }



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: white;
}

    .body-content.night {
        padding-left: 15px;
        padding-right: 15px;
        background-color: black;
    }

.notifications {
    border: 2px solid black;
}

.notificationshidden {
    display: none;
    z-index: 1000;
    /*position: absolute;*/
}

.notificationsshow {
    font-weight: bold;
    overflow: no-content;
}

    .notificationsshow.recent {
        background-color: dimgrey;
        animation-name: highlightmessage;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

@keyframes highlightmessage {
    from {
        background-color: white;
    }

    to {
        background-color: white;
    }

    50% {
        background-color: dimgrey;
    }
}

.notificationsentry {
    margin-bottom: 5px;
}

.messagemenu {
    max-width: 50vw;
    min-width: 50vw;
    margin-bottom: 20px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}

.menuheader {
    margin-top: 5px;
}

.dialogtext {
    max-width: 70vw;
    width: 70%;
}

.researchListMore, .buildingsListMore {
    display: none;
    font-weight: bold;
}

.btn {
    color: black;
    background-color: white;
    border-color: black;
    border-radius: 0px;
}

    .btn:active, .btn:hover {
        color: white;
        background-color: black;
        border-color: white;
    }

    .btn.night {
        color: white;
        background-color: black;
        border-color: white;
    }

        .btn.night:active {
            color: black;
            background-color: white;
            border-color: black;
        }

#messages {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 2px solid black;
}

.messageEntry {
    margin: 3px;
}

    .messageEntry:last-child {
        font-weight: bolder;
        /*animation-name: highlightmessage;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: linear;*/
    }



.discoveryAvailableCard.active {
    font-weight: bold;
    font-style: italic;
}

.discoveryPoints {
    color: red;
}


.progress {
    width: 10vw;
    background-color: black;
    height: 14px;
    border: 2px solid black;
    border-radius: 0px;
}

    .progress .bar {
        height: 10px;
        background-color: white;
    }
